*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .amam {
      display: flex;
      flex-direction: column;
      gap: 30px;
      
    }
  }